.main {
  width: 100%;
  height: auto;
}

.input {
  width: 100%;
  color: white;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ea1179;
  background: rgba(247, 155, 211, 0.502);
  padding: 15px;
  outline: none;
}

.input1 {
  width: 100%;
  color: white;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ea1179;
  background: rgba(247, 155, 211, 0.502);
  padding: 15px;
  outline: none;
}

.submit {
  width: 30%;
  color: white;
}

.img_profile_edit {
  width: 100%;
  height: 20em;
  background: rgba(247, 155, 211, 0.502);
  border: 2px solid #ea1179;
  border-radius: 25px;
}
