nav {
  width: 100%;
  height: 70px;
  background: linear-gradient(
    90deg,
    #1e1e1e 44.47%,
    rgba(30, 30, 30, 0.8) 62.64%
  );
  color: white;
}

.first_img {
  width: 2.5em;
  height: 2.5em;
}

.first_h2 {
  font-family: Inika;

  /*TODO breakpoint font-size */
  font-size: 2.4vw;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.second > a {
  color: #fff;
  font-family: Inter;

  /*TODO breakpoint font-size */
  font-size: 1.6vw;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.profile_icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0;
  padding: 5px;
}

.login {
  width: 15%;
  height: 2.5em;
  border-radius: 25px;
  border: 1px solid #ea1179;
  background: rgba(247, 155, 211, 0.502);

  /*TODO breakpoint font-size */
  font-size: 1.2vw;
  

  
  transition: background-color 0.5s ease-out; 
}

.login:hover{
  background: #ea1179;

  
}



.nav_btns:hover{
  transition: color 0.2s ease-in; /* Combine transitions */
  color: #e7358b;
}