.main {
  
  width: 100%;
  height: 22rem;

  @media screen and (min-width: 768px)  {

      width: 100%;
      height: 40rem;
  }
  

  
    
  @media screen and (min-width: 1280px)  {

      width: 100%;
      height: 43rem;

  } 

  
  background: linear-gradient(180deg, #111 0%, #1e1e1e 50.52%, #1e1e1e 100%);
}

.small_header {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;

  margin-bottom: 24px;
}

.small_header > div > h3 {
  color: #fff;
  font-family: Inter;
  

  
  // font-size: 2vw;
  font-size: 10pt;
  
  @media screen and (min-width: 768px)  {
    
    font-size: 13pt;
  }
  
  
  @media screen and (min-width: 1280px)  {
    
    font-size: 16pt;

  }

  font-style: normal;
  font-weight: 700;
  line-height: bold;
  text-transform: uppercase;
}

.small_header > div > p {
  color: #fff;
  font-family: Inter;
  // font-size: 1.5vw;

  font-size: 7pt;
  
  
  @media screen and (min-width: 768px)  {
    
    font-size: 10pt;
  }
  @media screen and (min-width: 1280px)  {
    
    font-size: 12pt;

  }

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

/* carousel */

.item {
  
text-wrap: wrap;

      // width: 26rem;
      // height: 35em;
      
      
    width: 10rem;
    height: 15em;
      

  // normal 
  @media screen and (min-width: 1280px)  {

      width: 26rem;
      height: 35em;
  }
  
  
  @media screen and (min-width: 768px)  {
    
      width: 20rem;
      height: 30em;
  }
  
  
  // @media screen and (max-width: 768px)  {

  //   width: 10rem;
  //   height: 15em;
      
  // }

  
  border: 3px solid #ea1179;
  border-radius: 15px;
  background: linear-gradient(180deg, #111 0%, #1e1e1e 50.52%, #1e1e1e 100%);
}

.item > div > img {
  border: 0;
  object-fit: contain;
  
  
  
}

.item_div {
  width: 100%;
  height: 60%;
  
  
  
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.inner > h1 {
  color: #fff;
  font-family: Inter;
  
  
  // font-size: 1.9vw;
  
  font-size: 10pt;
  
  
  @media screen and (min-width: 768px)  {
    
    font-size: 15pt;

  }

  
  // font-style: normal;
  // font-weight: 400;

  font-style: bold;
  font-weight: 700;
  line-height: normal;
}

.inner > p {
  color: #fff;
  font-family: Inter;

  // font-size: 1.5vw;

  font-size: 7pt;
  
  @media screen and (min-width: 768px)  {
    
    font-size: 11pt;

  }

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.release_date {
  color: #fff;
  font-family: Inter;
  // font-size: 1.7vw;
  
  
  font-size: 7pt;
  
  
  @media screen and (min-width: 768px)  {
    
  font-size: 8pt;

  }


  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carousel-container {
  overflow-x: auto;
  white-space: nowrap;
  /* Prevents items from wrapping to the next line */
  width: 100%;
}




