.img_profile_back {
  width: 100%;
  height: 12.375rem;
  border-radius: 0rem 0rem 1.5625rem 1.5625rem;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
    url("https://s4.anilist.co/file/anilistcdn/media/anime/banner/21-wf37VakJmZqs.jpg"),
    lightgray 0.545px -1110.249px / 100% 1270.588% no-repeat;
}

.img_profile {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background: rgba(247, 155, 211, 0.502);
  border: 2px solid #ea1179;
}

.username {
  color: white;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bio {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fav_header {
  color: white;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 18em;
  height: 100%;
  

  background-color: #111;

  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
